.kt_preview_image_container{
    position: relative;
    width: 150px;
    margin-top: 5px;
}
#kt_preview_img{
    width: 130px;
    height: 130px;
}
.kt_preview_image_close{
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    vertical-align: middle;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Datatable */
#dt-length-1 + label{
    display: none;
}
div.dt-container div.dt-info{
    padding-top: 0;
}
table.dataTable + div.d-md-flex{
    align-items: center;
    gap: 5px;
}

/* Toastr position */
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}