@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "poppins",sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    h3 {
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
    }
}

.section-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cover-image{
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

.absolute-center{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.absolute-center-vertical{
    top: 50%;
    transform: translate(0,-50%);
}
.slanted-bg{
    background: #000000;
    color: #ffffff;
    background: linear-gradient(to right bottom, #17191F, #17191F 50%, #000000 50%, #000000);
}


/*Header*/
body.nav-fixed .nav-container{
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

/*Submenu*/
.sub-menu li:not(:last-child){
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.parent-menu:hover .sub-menu{
    display: block;
}
.parent-menu:hover .sub-menu ul li:first-of-type{
    border-radius: 10px 10px 0 0;
}
.parent-menu:hover .sub-menu ul li:last-of-type{
    border-radius: 0 0 10px 10px;
}

/*Contact*/
.contact-form-input{
    border-radius: 10px;
    background: #444444;
    color: #ffffff;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
}
textarea.contact-form-input{
    padding-top: 15px;
}
.contact-form-input:focus{
    outline: none;
}
.input-placeholder{
    position: relative;
}
.input-placeholder .placeholder{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.input-placeholder.textarea .placeholder{
    transform: translate(0);
    top: 15px;
}
.input-placeholder .placeholder span{
    color: red;
}

.contact-detail-col .first-row,
.contact-detail-col .second-row {
    display: flex;
}
.contact-detail-col .first-row .left-col,
.contact-detail-col .second-row .left-col{
    flex-basis: 50%;
}

.section-contact .contact-detail-col .item-title{
    margin-bottom: 27px;
}
.section-contact .contact-detail-col .second-row{
    margin-top: 50px;
}

/*Footer*/
@layer components {
    .section-margin-top{
        @apply mt-[50px] sm:mt-[100px];
    }
    .section-margin-bottom{
        @apply mb-[50px] sm:mb-[100px];
    }
    .section-padding-top{
        @apply pt-[50px] sm:pt-[100px];
    }
    .section-padding-bottom{
        @apply pb-[50px] sm:pb-[100px];
    }
    .footer-social {
        @apply h-[30px] w-[30px] flex justify-center items-center rounded-full bg-white text-black
    }
    .hero-title{
        @apply uppercase text-4xl sm:text-5xl md:text-6xl mb-4 font-bold tracking-wider text-white
    }
    .hero-subtitle{
        @apply uppercase text-2xl font-medium tracking-wider text-white
    }
}

/*John Reserve Discover*/
.discover-icon{
    animation: discover 2s linear infinite;
}
@keyframes discover {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }
    90% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}