.kt_preview_image_container{
    position: relative;
    width: 150px;
    margin-top: 5px;
}
.kt_preview_img{
    width: 130px;
    height: 130px;
    object-position: center;
    object-fit: cover;
}
.kt_preview_image_close{
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    vertical-align: middle;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Datatable */
#dt-length-1 + label{
    display: none;
}
div.dt-container div.dt-info{
    padding-top: 0;
}
table.dataTable + div.d-md-flex{
    align-items: center;
    gap: 5px;
}

/* Toastr position */
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}



/*KS FILE UPLOADER CSS STARTS*/
.ks-file-uploader-preview-box{
    margin-top:10px;
}
.ks-file-uploader-preview-box .file {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.ks-file-uploader-preview-box .file img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}

.ks-file-uploader-preview-box .file .fa{
    font-size: 68px;
    margin-right: 10px;
}

.ks-file-uploader-preview-box .file span {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ks-file-uploader-preview-box .file button {
    margin-left: 10px;
    padding: 3px 8px;
    border-radius: 3px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

/*KS FILE UPLOADER CSS ENDS*/
